src/test/resources/flows/base-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
        xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
">


    <flow name="makeDirFlow">
        <hdfs:make-directories config-ref="simple-config" path="#[vars.path]" permission="#[vars.permission]">
        </hdfs:make-directories>
    </flow>

    <flow name="deleteDirFlow">
        <hdfs:delete-directory config-ref="simple-config" path="#[vars.path]">
        </hdfs:delete-directory>
    </flow>
</mule>
