src/test/resources/flows/copyFromLocal-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
">
    <import file="flows/base-flows.xml"></import>

    <flow name="copyFromLocalFileFlow">
        <hdfs:copy-from-local-file config-ref="simple-config" deleteSource="#[vars.deleteSource]"
                                   overwrite="#[vars.overwrite]" source="#[vars.source]"
                                   destination="#[vars.destination]">
        </hdfs:copy-from-local-file>
    </flow>

    <flow name="readOpFlow">
        <hdfs:read-operation config-ref="simple-config" path="#[vars.path]">
        </hdfs:read-operation>
    </flow>

</mule>
