src/test/resources/flows/copyToLocal-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
">

    <import file="flows/base-flows.xml"></import>


    <flow name="copyToLocalFileFlow">
        <hdfs:copy-to-local-file config-ref="simple-config" deleteSource="#[vars.deleteSource]"
                                 useRawLocalFileSystem="#[vars.useRawLocalFileSystem]" source="#[vars.source]"
                                 destination="#[vars.destination]">
        </hdfs:copy-to-local-file>
    </flow>

    <flow name="deleteFileFlow">
        <hdfs:delete-file config-ref="simple-config" path="#[vars.path]">
        </hdfs:delete-file>
    </flow>

    <flow name="writeFlow">
        <hdfs:write config-ref="simple-config" path="#[vars.path]" ownerUserName="#[vars.ownerUserName]"
                    permission="#[vars.permission]">
            <hdfs:payload>#[payload]</hdfs:payload>
        </hdfs:write>
    </flow>

</mule>
