src/test/resources/flows/rename-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
">
    <import file="flows/base-flows.xml"></import>

    <flow name="renameFlow">
        <hdfs:rename config-ref="simple-config" source="#[vars.source]" destination="#[vars.destination]">
        </hdfs:rename>
    </flow>

    <flow name="deleteFileFlow">
        <hdfs:delete-file config-ref="simple-config" path="#[vars.path]">
        </hdfs:delete-file>
    </flow>

    <flow name="listStatusFlow">
        <hdfs:list-status config-ref="simple-config" path="#[vars.path]" filter="#[vars.filter]">
        </hdfs:list-status>
    </flow>

    <flow name="writeFlow">
        <hdfs:write config-ref="simple-config" path="#[vars.path]" ownerUserName="#[vars.ownerUserName]"
                    permission="#[vars.permission]">
            <hdfs:payload>#[payload]</hdfs:payload>
        </hdfs:write>
    </flow>

</mule>
