src/test/resources/flows/setOwner-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
">



    <flow name="setOwnerFlow">
        <hdfs:set-owner config-ref="simple-config" path="#[vars.path]" ownername="#[vars.ownername]"
                        groupname="#[vars.groupname]">
        </hdfs:set-owner>
    </flow>


    <flow name="writeFlow">
        <hdfs:write config-ref="simple-config" path="#[vars.path]" ownerUserName="#[vars.ownerUserName]"
                    permission="#[vars.permission]">
            <hdfs:payload>#[payload]</hdfs:payload>
        </hdfs:write>
    </flow>

    <flow name="listStatusFlow">
        <hdfs:list-status config-ref="simple-config" path="#[vars.path]">
        </hdfs:list-status>
    </flow>

</mule>
