src/test/resources/flows/setPermission-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
">



    <flow name="setPermissionFlow">
        <hdfs:set-permission config-ref="simple-config" path="#[vars.path]" permission="#[vars.permission]">
        </hdfs:set-permission>
    </flow>

    <flow name="readOpFlow">
        <hdfs:read-operation config-ref="simple-config" path="#[vars.path]">
        </hdfs:read-operation>
    </flow>

    <flow name="writeFlow">
        <hdfs:write config-ref="simple-config" path="#[vars.path]" ownerUserName="#[vars.ownerUserName]"
                    permission="#[vars.permission]">
            <hdfs:payload>#[payload]</hdfs:payload>
        </hdfs:write>
    </flow>

    <flow name="listStatusFlow">
        <hdfs:list-status config-ref="simple-config" path="#[vars.path]">
        </hdfs:list-status>
    </flow>


</mule>
