src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      version="EE-3.6.0"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd">

    <context:property-placeholder location="${automation-credentials.properties}"/>

    <hdfs:config name="HDFS" nameNodeUri="${config.nameNodeUri}" username="${config.username}" doc:name="HDFS">
        <hdfs:configuration-entries>
            <hdfs:configuration-entry key="dfs.client.use.legacy.blockreader">true</hdfs:configuration-entry>
        </hdfs:configuration-entries>
        <hdfs:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </hdfs:config>

    <flow name="write-default-values" doc:name="write-default-values">
        <hdfs:write config-ref="HDFS" path="#[flowVars.path]" payload-ref="#[flowVars.payloadRef]" doc:name="HDFS"/>
    </flow>

    <flow name="delete-file" doc:name="delete-file">
        <hdfs:delete-file config-ref="HDFS" path="#[flowVars.path]" doc:name="HDFS"/>
    </flow>

    <flow name="get-metadata" doc:name="get-metadata">
        <hdfs:get-metadata config-ref="HDFS" path="#[flowVars.path]" doc:name="HDFS"/>
    </flow>

</mule>