src/test/resources/hdfs-connector-tests-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans" xmlns:hdfs="http://www.mulesoft.org/schema/mule/hdfs"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/hdfs http://www.mulesoft.org/schema/mule/hdfs/current/mule-hdfs.xsd
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
            ">

    <flow name="pathMetaFlow">
        <vm:inbound-endpoint path="pathMetaFlow.in" exchange-pattern="request-response" />
        <hdfs:get-metadata path="#[message.inboundProperties.hdfsPath]" />
        <!-- copy the meta flow vars to a map returned to the caller for testing -->
        <set-payload value="#[['pathExists':flowVars['hdfs.path.exists'],'contentSummary':flowVars['hdfs.content.summary'],'fileStatus':flowVars['hdfs.file.status'],'fileChecksum':flowVars['hdfs.file.checksum']]]" />
    </flow>

    <flow name="makeDirectoriesFlow">
        <vm:inbound-endpoint path="makeDirectoriesFlow.in" exchange-pattern="request-response" />
        <hdfs:make-directories path="#[message.inboundProperties.hdfsPath]" />
        <set-payload value="DONE" />
    </flow>

    <flow name="deleteDirectoryFlow">
        <vm:inbound-endpoint path="deleteDirectoryFlow.in" exchange-pattern="request-response" />
        <hdfs:delete-directory path="#[message.inboundProperties.hdfsPath]" />
        <set-payload value="DONE" />
    </flow>

    <flow name="deleteFileFlow">
        <vm:inbound-endpoint path="deleteFileFlow.in" exchange-pattern="request-response" />
        <hdfs:delete-file path="#[message.inboundProperties.hdfsPath]" />
        <set-payload value="DONE" />
    </flow>

    <flow name="readFlow">
        <vm:inbound-endpoint path="readFlow.in" exchange-pattern="request-response" />
        <hdfs:read path="#[message.inboundProperties.hdfsPath]" />
    </flow>

    <flow name="writeFlow">
        <vm:inbound-endpoint path="writeFlow.in" exchange-pattern="request-response" />
        <hdfs:write path="#[message.inboundProperties.hdfsPath]" />
    </flow>

    <flow name="appendFlow">
        <vm:inbound-endpoint path="appendFlow.in" exchange-pattern="request-response" />
        <hdfs:append path="#[message.inboundProperties.hdfsPath]" />
    </flow>
</mule>